#first, #second, #third{
    border: 5px solid tan;
    height: 50px;
    width: 50px;
    display: inline-block;
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%);
}
#first{
    left:20%;
}
#second{
    left:40%;
}
#third{
    left: 60%;
}
*{
    background-color: aquamarine;
}